#bio01 p {
    text-align: center;
    padding: 1em 20em 2em 20em;
    border-bottom: 1px solid #333;
    line-height: 1.5em;
}

#section02 h2 {
    padding: 4em 0 0 0;
    text-align: center;
    color: #333;
}

.scale-with-grid {
    width: 95%;
}

#kellyboy h3, #kapena h3, #kalena h3, #lilo h3 {
    padding-top: 2em 0;
    font-size: 2.5em;
}

#kellyboy p, #kapena p, #kalena p, #lilo p {
    font-size: 1em;
}

#kellyboy h4, #kapena h4, #kalena h4, #lilo h4 {
    font-size: 1.2em;
}

#kellyboy h5 a, #kapena h5 a, #kalena h5 a, #lilo h5 a {
    color: #999;
}

#kellyboy h5 a:hover, #kapena h5 a:hover, #kalena h5 a:hover, #lilo h5 a:hover {
    color: #339999;
}

#kellyboy {
    padding: 3em 17em;
    font-weight: normal;
    font-size: .85em;
    margin-top:2em;
}

.kellyboy {
    padding-top: 1em;
    width: 30%;
    float: right;
    padding-left: 1.5em;
}

#kapena {
    clear: right;
    padding: 5em 17em;
    font-weight: normal;
    font-size: .85em;
}

.kapena {
    width: 30%;
    float: left;
    padding-right: 1.5em;
}

#kalena {
    clear: left;
    padding: 5em 17em;
    font-weight: normal;
    font-size: .85em;
}

.kalena {
    width: 30%;
    float: right;
    padding-left: 1.5em;
}

#lilo {
    clear: right;
    padding: 5em 17em;
    font-weight: normal;
    font-size: .85em;
    margin-bottom:10em;
}

.lilo {
    width: 30%;
    float: left;
    padding-right: 1.5em;
}

.size {
    padding-top: 2em;
    width: 45%;
    padding-left: 2em;
    display: inline-block;
}
