.home {
  padding-top: 7.45em;
  text-align: center;
  background-color:#000;
}

.home h2{
  background-color: #000;
  color: #fff;
  border-top: 5px solid #339999;
  border-bottom: 5px solid #339999;
  padding: .8em;
  font-size: 1.8em;
}
