.discography h2 {
  padding-top:3em;
}

.discography {
    text-align: center;
    padding-bottom: 3em;
}

.discography a {
    color: #339999;
    text-decoration: none;
}

.discography a:hover {
    color: #ccc;
}


.merchandise h2 {
  padding-top:3em;
}

.merchandise {
    text-align: center;
    padding-bottom: 3em;
}

.merchandise p a {
    color: #339999;
    text-decoration: none;
}

.merchandise p a:hover {
    color: #ccc;
}
