button {
  padding: $section-padding;
}

.button-center {
  text-align: center;
}

.buttonepk {
 display: block;
 height: 50px;
 width: 150px;
 border: 2px solid #fff;
 text-align: center;
 text-decoration: none;
}

.buttonepk:hover {
 border: 2px solid #339999;
}

.buttonepk a {
  color: #fff;
}
