* {
  margin: 0;
  padding: 0;
}

form {
  width: 50%;
  margin: 0 auto;
}

form input,
form textarea {
  display: block;
  width: 100%;
}

.forms h2 {
  text-align: center;
  padding-bottom: .5em;
}

.forms div {
  padding: .5em 0;
}

.forms {
  padding: 9em 0;
}

.forms label {
  color: #333;
  font-size: .85em;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #D1D1D1;
  border-radius: .5em;
  padding: 6px 10px;
  height: 40px;
}

input[type="email"]:focus, input[type="email"]:active,
input[type="number"]:focus,
input[type="number"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="url"]:focus,
input[type="url"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
textarea:focus,
textarea:active {
  outline: 0;
}

textarea {
  border: 1px solid #D1D1D1;
  border-radius: .5em;
  padding: 6px 10px;
  height: 6em;
}

/* HEADINGS
	Based on a Traditional Typographic Scale
	48, 36, 24, 21, 18, 16
    Target Font Size (px) / Base Font Size (px) = XX.XXXXem
*/
h1 {
  font-size: 3em;
  /* 48px/16px = 3em */
  line-height: 1em;
}

h2 {
  font-size: 2.25em;
  /* 36px/16px = 2.25em */
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em;
  /* 24px/16px = 1.5em */
  line-height: 1.2em;
}

h4 {
  font-size: 1.3125em;
  /* 21px/16px = 1.3125em */
  line-height: 1.3em;
}

h5 {
  font-size: 1.125em;
  /* 18px/16px = 1.125em */
  line-height: 1.4em;
}

h6 {
  font-size: 1em;
  /* 16px/16px = 1em */
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 0;
}

/* LAYOUT */
body, p {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 112.5%;
  /* Set the base to 18px */
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-family: 'Raleyway', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'Raleway',sans-serif;
  font-weight: 100;
  font-style: italic;
}

h5 {
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 0;
  font-size: 16px;
  line-height: 25px;
}

/* -------------------- */
/* BASE CSS */
/* -------------------- */
/* TABLE OF CONTENTS
    1. BASE CSS
        - RESET
        - HTML5
        - BASE TYPOGRAPHY
            - HEADINGS
            - PARAGRAPHS
            - LINKS
            - LISTS
        - IMAGES
        - CLEARFIX
    2. SITE SPECIFIC CSS
        - LAYOUT
        - MEDIA QUERIES
        - @FONTFACE
*/
/* -------------------- */
/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* HTML5 */
header, nav, footer, section, article, aside {
  display: block;
}

/* BASE TYPOGRAPHY */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  /* 100% = 16px = 1em */
  line-height: 1.5em;
  /* 24px/16px = 1.5em */
  color: #333;
}

/* LINKS */
a {
  color: #ccc;
  text-decoration: none;
}

a:hover, a:focus {
  color: #339999;
}

/* LISTS */
li {
  margin-left: 1.875em;
  /* 30px/16px = 1.875em */
}

ul li ul, ul li ol, ol li ol, ol li ul {
  margin-bottom: 0;
}

/* IMAGES */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* CLEARFIX from Chris Coyier at CSS-TRICKS.com */
.group:after {
  content: "";
  clear: both;
  display: table;
}

/* SITE SPECIFIC CSS */
.container {
  position: relative;
  margin: 0 auto;
  width: 66.6666em;
  /* 1200px/18px = 66.6666em  */
}

.column {
  padding: 3em 1em;
  margin: 1em 0;
  float: left;
  margin-left: 2%;
}

.background {
  color: #000;
  background-color: #fff;
}

/* Buttons */
button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  background-color: #808080;
  color: #fff;
  padding: .75em 1em;
  -webkit-border-radius: .32em;
  -moz-border-radius: .32em;
  border-radius: .32em;
  margin-bottom: .5em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  line-height: 1em;
}

button:hover, a.button:hover {
  background-color: #39c;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  background: #333;
  padding: 0;
  z-index: 200;
}

header h1 {
  padding: .575em;
  margin-bottom: 0;
  float: left;
}

header h1 a {
  display: block;
  background-image: url(../images/kapenalogo.png);
  background-repeat: no-repeat;
  background-size: 182px 63px;
  width: 182px;
  height: 0px;
  padding-top: 63px;
  overflow: hidden;
}

#menu {
  display: none;
}

#mainnav ul {
  float: right;
  margin-top: 45px;
}

#mainnav ul li {
  display: inline-block;
}

#mainnav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

#mainnav ul li ul {
  margin-top: 0;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  padding: 0;
}

footer {
  background: #000;
  color: #fff;
  padding: 2em 0;
}

footer img {
  margin: 0 auto;
}

footer #copyright {
  text-align: center;
  font-size: .5625em;
  /* 9px / 16px = .5625em; */
  color: #999;
}

footer {
  margin: 0 auto;
}

#footernav {
  text-align: center;
}

/* MEDIA QUERIES */
/* TABLET (Between 768px and 960px) */
@media only screen and (min-width: 768px) and (max-width: 1240px) {
  body {
    font-size: 106.25%;
    /* 17px */
  }
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer {
    padding: 4em;
  }
}

/* MOBILE (Less than 768px) */
@media only screen and (max-width: 767px) {
  body {
    font-size: 100%;
    /* 16px */
  }
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer #copyright {
    text-align: center;
  }
  #home {
    padding-top: 10em;
  }
  #mainnav #menu {
    display: block;
    color: #fff;
  }
  #mainnav ul {
    padding: 1em 0;
    display: none;
    width: 100%;
  }
  #mainnav ul li {
    display: block;
  }
  #mainnav ul li a {
    float: none;
    padding: 1em 1.25em;
  }
}

.home {
  padding-top: 7.45em;
  text-align: center;
  background-color: #000;
}

.home h2 {
  background-color: #000;
  color: #fff;
  border-top: 5px solid #339999;
  border-bottom: 5px solid #339999;
  padding: .8em;
  font-size: 1.8em;
}

.index header {
  position: relative;
}

#bio01 p {
  text-align: center;
  padding: 1em 20% 2em 20%;
  border-bottom: 1px solid #333;
  line-height: 1.5em;
}

#section02 h2 {
  padding: 4em 0 0 0;
  text-align: center;
  color: #333;
}

.scale-with-grid {
  width: 95%;
}

#kellyboy h3, #kapena h3, #kalena h3, #lilo h3 {
  padding-top: 2em 0;
  font-size: 2.5em;
}

#kellyboy p, #kapena p, #kalena p, #lilo p {
  font-size: 1em;
}

#kellyboy h4, #kapena h4, #kalena h4, #lilo h4 {
  font-size: 1.2em;
}

#kellyboy h5 a, #kapena h5 a, #kalena h5 a, #lilo h5 a {
  color: #999;
}

#kellyboy h5 a:hover, #kapena h5 a:hover, #kalena h5 a:hover, #lilo h5 a:hover {
  color: #339999;
}

#kellyboy {
  padding: 3em 25%;
  font-weight: normal;
  font-size: .85em;
  margin-top: 2em;
}

.kellyboy {
  padding-top: 1em;
  width: 30%;
  float: right;
  padding-left: 1.5em;
}

#kapena {
  clear: right;
  padding: 5em 25%;
  font-weight: normal;
  font-size: .85em;
}

.kapena {
  width: 30%;
  float: left;
  padding-right: 1.5em;
}

#kalena {
  clear: left;
  padding: 5em 25%;
  font-weight: normal;
  font-size: .85em;
}

.kalena {
  width: 30%;
  float: right;
  padding-left: 1.5em;
}

#lilo {
  clear: right;
  padding: 5em 25%;
  font-weight: normal;
  font-size: .85em;
  margin-bottom: 10em;
}

.lilo {
  width: 30%;
  float: left;
  padding-right: 1.5em;
}

.size {
  padding-top: 2em;
  width: 45%;
  padding-left: 2em;
  display: inline-block;
}

.local, .tour {
  text-align: center;
  padding: 10em 0;
}

.local h2, .tour h2 {
  padding-bottom: 1em;
}

.news {
  padding-top: 10em;
}

.news h2 {
  text-align: center;
}

.posts {
  padding: 2em 0 10em 4em;
}

.posts img {
  border: .4em solid #339999;
}

.posts img:hover {
  border: .4em solid #333;
}

.news h3 a {
  color: #000;
  text-decoration: none;
}

.news h3 a:hover {
  color: #339999;
}

.blog img {
  padding-top: 10em;
  width: 50%;
  margin: auto;
}

.blog h2 {
  padding: 1em 0 0 0;
}

.blog h5 {
  padding: .5em 0 2em 0;
  font-weight: lighter;
}

.blog p {
  line-height: 2em;
  color: #333;
  padding: 0 4em;
  padding-bottom: 5em;
  text-align: left;
}

.blog {
  text-align: center;
}

.discography h2 {
  padding-top: 3em;
}

.discography {
  text-align: center;
  padding-bottom: 3em;
}

.discography a {
  color: #339999;
  text-decoration: none;
}

.discography a:hover {
  color: #ccc;
}

.merchandise h2 {
  padding-top: 5em;
}

.merchandise h3 {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.merchandise img {
  border: 4px solid #333;
}

.merchandise img:hover {
  border: 4px solid #339999;
}

.merchandise {
  text-align: center;
  padding-bottom: 60em;
}

.merchandise p a {
  color: #339999;
  text-decoration: none;
}

.merchandise p a:hover {
  color: #ccc;
}

.shop {
  padding: 10em 0 5em 0;
  text-align: center;
}

.shop h2 {
  padding-bottom: 1em;
}

.shop img {
  border: .5em solid #339999;
}

.shop img:hover {
  border: .5em solid #333;
}

#music {
  padding-top: 3em;
  overflow: hidden;
  text-align: center;
  padding-bottom: 10em;
}

.catalog {
  width: 75%;
}

#music li {
  list-style: none;
}

#music h2 {
  text-align: center;
  padding-top: 3em;
}

#music h3 {
  font-size: 1.5em;
  padding-bottom: .7em;
}

#music01 p {
  float: left;
  padding: 3em 10em 0 10em;
  text-align: center;
}

#music h1 {
  text-align: center;
  font-weight: normal;
}

.cdbaby {
  width: 35%;
}

.column.one-third {
  float: left;
  margin: 0 0 20px;
  width: 30%;
}

.column.one-third-shirt {
  float: left;
  margin: 0 0 20px;
  width: 30%;
}

.first {
  clear: both;
  padding-left: 0;
}

.shirt {
  padding: 10em 0 30em 12em;
}

.shirt h3 {
  text-align: center;
}

.related h5 {
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

.related {
  padding-bottom: 5em;
}

.related img {
  padding-top: 1em;
}

.right {
  padding-left: 5em;
}

.addtocart {
  color: #fff;
  background-color: #333;
}

.addtocart:hover {
  color: #fff;
  background-color: #339999;
}

.form-button {
  background-color: #333;
  width: 100%;
  margin-top: 1em;
}

.form-button:hover {
  background-color: #339999;
}

.button-center {
  text-align: center;
}

.buttonepk {
  display: block;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-bottom: 2em;
  padding-top: 1.5em;
}

.buttonepk:hover {
  border: 2px solid #339999;
}

.buttonepk a {
  color: #fff;
}
